/* define colors */
:root {
  --primary-color: #a52e4d;
  --secondary-color: #228039;

  --red-color: #dc2626;
  --green-color: #22c55e;
  --silver-color: #94a3b8;
  --orange-color: #f97316;
}
@media (prefers-color-scheme: light) {
  :root {
    --primary-bg-color: #fafafa;
    --secondary-bg-color: white;
    --foreground-color: #111111;
    --accent-color: #e5e7eb;
    --hover-line-color: #e5e7eb;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg-color: #111111;
    --secondary-bg-color: #131313;
    --foreground-color: #f0f0f0;
    --accent-color: #aaaaaa;
    --hover-line-color: #4b5563;
  }
}

/* font for all */
* {
  font-family: monospace;
  font-weight: 400;
  font-style: normal;
}

/* header */
.header {
  width: 88vw;
  padding: 0.5rem 2rem;
  gap: 0.5rem;
  border-radius: 6px;

  background-color: var(--secondary-bg-color);
  color: var(--foreground-color);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

@media (prefers-color-scheme: light) {
  .header {
    border: 1px solid var(--accent-color);
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    border: 1px solid var(--accent-color);
  }
}

/* hide logo on small screen sizes */
@media (max-width: 852px) {
  .logo {
    display: none;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.last-updated-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* hide last updated container when width is too small */
@media (max-width: 540px) {
  .last-updated-container {
    display: none;
  }
}

.last-n-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* stat card */
.stat-outer-container {
  padding: 2rem 0;
  gap: 1rem;
}

.stat-card {
  width: 100vw;
  max-width: 45rem;
  border-radius: 6px;
  padding: 0.5rem;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--accent-color);
}

.card-header {
  font-size: 16px;
  margin-bottom: 12px;
}

/* chartist */
.ct-label {
  color: var(--foreground-color);
  opacity: 0.6;
}

.ct-grid {
  stroke: var(--accent-color);
  opacity: 0.2;
}

.ct-line {
  stroke-width: 2px;
}

.ct-point {
  stroke-width: 4px;
}

/* chartist series colors */
/* tinybox red */
.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: var(--red-color);
}
.ct-series-a .ct-area {
  fill: var(--red-color);
}
.ct-series-b .ct-line,
.ct-series-b .ct-point {
  stroke: var(--red-color);
}
.ct-series-b .ct-area {
  fill: var(--red-color);
}

/* tinybox green */
.ct-series-c .ct-line,
.ct-series-c .ct-point {
  stroke: var(--green-color);
}
.ct-series-c .ct-area {
  fill: var(--green-color);
}
.ct-series-d .ct-line,
.ct-series-d .ct-point {
  stroke: var(--green-color);
}
.ct-series-d .ct-area {
  fill: var(--green-color);
}

/* mac */
.ct-series-e .ct-line,
.ct-series-e .ct-point {
  stroke: var(--silver-color);
}
.ct-series-e .ct-area {
  fill: var(--silver-color);
}

/* comma */
.ct-series-f .ct-line,
.ct-series-f .ct-point {
  stroke: var(--orange-color);
}
.ct-series-f .ct-area {
  fill: var(--orange-color);
}

/* chartist hoverline */
.chartist-hoverline {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 8px;
  background-color: var(--hover-line-color);
  opacity: 0;
  pointer-events: none;
}

.hoverline-show {
  opacity: 1;
}

.hoverline-frozen {
  pointer-events: all;
}

.hoverline-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid var(--accent-color);
  position: absolute;
  width: 14rem;
  padding: 0.5rem;
  border-radius: 6px;
  z-index: 10;
  margin-left: 14px;
}

.hoverline-header {
  display: flex;
  align-items: center;
  gap: 6px;
}

.hoverline-run {
  color: var(--secondary-bg-color);
  font-size: 18px;
  padding: 0.1rem 1rem;
  border-radius: 6px;
  background-color: var(--foreground-color);
}

.hoverline-commit {
  font-size: 12px;
  border-radius: 6px;
  text-decoration: none;
  padding: 0.4rem 1rem;
  background-color: var(--accent-color);
}

.hoverline-commit:hover {
  background-color: var(--foreground-color);
  color: var(--accent-color);
}

.hoverline-delta {
  white-space: pre;
}

/* fonts */
.megrim-regular {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
}
